* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #000000;
    min-height: 200vh;
    color: rgb(221, 42, 132);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky {
    padding: 1px 100px;
    background: rgb(221, 42, 132);
}

header .logo {
    position: relative;
    font-weight: 700;
    color: rgb(221, 42, 132);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;

}

header a:hover {
    color: rgb(221, 42, 132);
}

header .logo:hover {
    color: whitesmoke;
}

.banner {
    position: relative;
    width: 100px;
    height: 250px;
    background-color: black;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000000;
}

header.sticky .logo:hover,
header.sticky ul li a:hover {
    color: whitesmoke;
}